/* template */
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

hr {
  margin: 20px 0 20px 0;
}

.center-block {
  width: 640px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*  */
.text {
  text-align: left;
  padding: 0px 30px;
  font-size: 18px;
}

.title {
  background-image: url("media/dino-game-chrome.gif");
  background-repeat: no-repeat;
  background-position: center;
  /* width: auto;
  height: auto; */
  background-size: contain;
  border: 2px dashed #333;
  border-radius: 18px;
}

img{
  border-radius: 10px;
}


